$margin_donation_left: 8rem;


.cabeceraCategoriaDonaciones{
    background-image: url(../img/img_donaciones.jpg);
    height: 24rem;
    background-size: cover;
    background-position: top;
    z-index:1;
}
    .gradient {
        display: flex;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);

}
   .texto-d {
       color:whitesmoke;
       font-weight: 800;
       line-height: 24px;
       align-self: flex-end;
   }
   @media only screen and (min-width: $MQ-L){
    .texto-d{
        padding-left: $margin_donation_left;
        }
    }
   .texto-c {
        color:whitesmoke;
        font-weight: 700;
        line-height: 24px;
        padding-right: 1rem;
    }
    @media only screen and (min-width: $MQ-L){
        .texto-c{
            padding-left: $margin_donation_left;
            }
        }
   .text-d {
        color:black;
        line-height: 24px;
        align-self: flex-end;
        padding-right: 1rem;
   }
   @media only screen and (min-width: $MQ-L){
    .text-d{
        padding-left: $margin_donation_left;
        }
    }
.texto-a {
    line-height: 24px;
}
  

.slogan {
    background-color: #FF611F;
    font-weight: 600;
    line-height: 42px;
    color: white;
    grid-area: slogan;
    align-items:center;
    display: flex;

}

 .opciones-donacion {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 1rem;
 }
 @media only screen and (min-width: $MQ-L){
    .opciones-donacion{
        padding-left: $margin_donation_left;
        }
    }
 .estilo-donacion {
     font-size: 1rem;
 }

 .imagen {
    background-image: url("../img/heart.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover; 
    min-height: 350px;
}

.cuenta {
    padding-top: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (min-width: $MQ-L){
    .cuenta{
        padding-left: $margin_donation_left;
        }
    }
.datos-d {
    font-size: 1rem;
    color:#FC4A00;
    font-weight: 700;
}

.donaciones {
    display: flex;

}

@media (min-width: 768px) {
    $margin_donation_leftS: 2.5rem;
    .donaciones {
        display: grid;
        grid-template-areas:
        "header header"
        "slogan slogan"
        "opciones imagen"
        "cuenta imagen";
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 385px .8fr 1fr 1fr;
    }
}
@media only screen and (min-width: $MQ-M){
    .datosEconomicos{
        display: flex;
        margin: 0 auto;
    }
}
.datosEconomicos{
    margin: 0 auto;
    background-color: $c-orange4;
    padding: 3rem 0 4.5rem;
    color: white;
}

.textoDinero{
    padding: 3rem 0;
}
.textoDatosEconimicos{
    margin: 0 auto;
}
.textoAyuda{
    margin: 0 auto;
}
.opcionesDonacion{
    padding: 3rem 0;
}
.containerCuenta{
    padding-top: 2rem;
}
@media only screen and (min-width: $MQ-L){
    .opcionesDonacion{
       
        padding: 3rem 8rem;
    }
}
@media only screen and (min-width: $MQ-L){
    .experienciaBloqDonaciones{
        max-width: 60%;
        padding: 5rem 8rem;
    }
}
@media only screen and (min-width: $MQ-L){
    .cajaCuentaBancaria{
        display: flex;
    }
    .cajaNumeroCuenta{
        margin-right: 10rem;
        max-width: 45%;
    }
    .numeroCuenta{
        margin-top: 2rem;
    }
    .containerCuenta{
        padding-left: 8rem;
        padding-bottom: 3rem;
    }
    
}
.big{
    font-size: 2rem;
}