/*INTRO*/

.heroHome{
    background-attachment: fixed;
    background-image: url("../img/cabecera_home_l.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    height: 100vh;
}

.heroBotones{
    margin-left: 1.5rem;
    padding-top: 1.5rem;
}

.intro-home{
    height: 768px;
}

.texto-intro{
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 8rem;
    position: absolute;
    z-index:3;
    color: white;
}

.foto-intro{
    position: absolute;
    z-index:1;
}

.transparencia{
    position: absolute;
    z-index:2;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: .3;
}

@media only screen and (min-width: $MQ-M){
    .heroHome{
        background-image: url("../img/cabecera_home_l.jpg");
    }

    .texto-intro{
        margin-left: 8rem;
        max-width: 50%;
        font-size: 2.5rem;
        line-height: 2.8rem;
        padding-top: 12rem;
    }

    .heroBotones{
        margin-left: 0;
    }
}



/*BLOQUES NARANJAS*/

.bloqueNaranja{
   background-color: $c-orange5;
}

.bloqueNaranjaTexto, .bloqueNaranjaTestimonio, .nombreTestimonio{
    color: white;
}

.bloqueNaranjaTexto{
    padding: 3rem 0 3rem 0;
}

.bloqueNaranjaTestimonio{
    font-style: italic;
    font-size: 1.2rem;
    //line-height: 2rem;
    font-weight: 700;
}

.nombreTestimonio{
    margin-bottom: 0px;
    padding-bottom: 3rem;
}

@media only screen and (min-width: $MQ-M){
    .bloqueNaranjaTextos{
        //display: flex;
        margin: auto;
        max-width: 1024px;
        padding-bottom: 4rem;
    }

    .bloqueNaranjaTestimonio, .nombreTestimonio{
        padding-left: 36rem;
    }
}



/*PREGUNTASHOME*/

.ninos-espalda{
    background-image: url("../img/ninos_espaldas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.preguntas{
    margin: 3rem 0 4.5rem;
}

.p2,.p3{
    font-weight: bolder;
}

@media only screen and (min-width: $MQ-M){
    .preguntasHome{
        display: flex;
        margin: auto;
        align-items: center;
    }

    .ninos-espalda, .preguntas{
        width: 50%;
    }

    .preguntas{
        padding: 0 6rem 0 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .bloque-pregunta1, .bloque-pregunta2{
        padding-left: 3.5rem;
    }
}



/*LOCALIZACIONES Y LOGROS*/

.localizacionesYLogros{
    padding: 3rem 0;
}

.tituloLogros{
    padding-top: 3rem;
}

.tituloLocalizaciones, .tituloLogros{
    margin-left: 0;
}

.localizacionesCiudades, .logros{
    list-style: none;
}

.localizacionesYLogros{
    text-align: center;
}

.ciudad{
    font-size: 1.5rem;
    font-weight: 900;
}

.logroTexto{
    margin-top: 0;
    font-weight: 900;
}

.tituloLogro{
    margin-top: 1.5rem;
}

.logroDato{
    font-size: 3.125rem;
    line-height: 3.125rem;
    font-weight: 900;
    margin: 0;
}

@media only screen and (min-width: $MQ-M){
    .localizacionesYLogros{
        display: flex;
        align-items: flex-start;
        max-width: 1024px;
        margin: auto;
    }

    .tituloLogros{
        padding-top: 0;
    }

    .localizaciones, .logros{
        width: 50%;
    }

    ul.logros{
        margin: auto;
    }
}


/*BLOQUE ACTIVIDADES*/

.bloqueActividadesHomeTexto{
    background-color: $c-green1;
    color: white;
    padding: 3rem 0 1.5rem 0;
}

.boton-informate{
    margin-left: 1.5rem;
}

.bloqueActividadesHomeFoto{
    background-image: url(../img/headerActividades.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width: $MQ-M){
    .bloqueActividadesHome{
        display: flex;
    }

    .bloqueActividadesHomeTexto, .bloqueActividadesHomeFoto{
        width: 50%;
        padding: 3rem 3rem 1.5rem;
    }

    .boton-informate{
        margin-left: 0;
    }
}


/*TEXTO PROMOVER VOLUNTARIADO*/

.promoverVoluntariado{
    padding: 3rem 0;

}

.promoverVoluntariado p{
    font-size: 1.5rem;
    line-height: 2rem;
}

@media only screen and (min-width: $MQ-M){
    .promoverVoluntariado{
        text-align: center;
        margin: auto;
        max-width: 1024px;
    }
}


@media only screen and (min-width: $MQ-M){
    .experienciasHome{
    display: flex;
    }
}

.experienciaBloqText2{
    margin-top: 4rem !important;
}